{% extends 'base/base.html' %}
{% load static %}
{% block title %}Event Calendar{% endblock title %}

{% block extracss %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.4/main.min.css">
{% endblock extracss %}

{% block breadcrumb %}
  <div>
      <h1><i class="fa fa-calendar"></i> Calendar</h1>
      <p>Event Calendar</p>
  </div>
  <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item"><a href="#">Calendar</a></li>
  </ul>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="tile row">
            <div class="col-md-3">
                <div id="external-events">
                    <h4 class="mb-4">Running Events</h4>
                    {% for event in events_month %}
                      <div class="fc-event">
                          <h3>{{ event.title }}</h3>
                          <p>From: {{ event.start_time }}</p>
                          <p>To: {{ event.end_time }}</p>
                      </div>
                    {% empty %}
                      <p>No Running Events Found</p>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-9">
                <div id="calendar"></div>
            </div>

            <div class="modal fade show" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-primary">
                            <h5 class="modal-title text-white" id="exampleModalLongTitle">Add New Event</h5>
                            <button id="modalClose1" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="javascript:void(0)" id="ProductForm" name="ProductForm" method="POST" enctype="multipart/form-data">
                          {% csrf_token %}
                          <input type="hidden" name="id" id="id">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Titolo:</label>
                                    <input type="text" name="title" class="form-control" placeholder="Titolo" maxlength="200" required id="id_title">
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Descrizione:</label>
                                    <textarea name="description" cols="40" rows="10" class="form-control" placeholder="Descrizione" required id="id_description">
                                    </textarea>
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Data inizio:</label>
                                    <input type="datetime-local" name="start_time" class="form-control" required id="id_start_time">
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Data fine:</label>
                                    <input type="datetime-local" name="end_time" class="form-control" required id="id_end_time">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button id="modalClose2" type="button" class="btn btn-secondary" >Annulla</button>
                                <button id="modalClose3" type="button" class="btn btn-danger" onclick="deleteFunc()">Elimina</button>
                                <button type="submit" class="btn btn-primary">Salva</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extrascripts %}
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/index.global.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/google-calendar@6.1.4/index.global.min.js"></script>

  <script src="{% static 'calender/locales/it.js' %}"></script>
  <script>
      var calendar;
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var today = new Date();

          calendar = new FullCalendar.Calendar(calendarEl, {
          locale: 'it',
          slotMinTime: '08:00',
          slotMaxTime: '20:00',
          slotDuration: '00:30:00',
          expandRows: true,
          
          eventShortHeight: '50',
   
          weekends: false,
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay,list'
          },
          initialDate: today,
          navLinks: true, // can click day/week names to navigate views
          selectable: true,
          selectMirror: true,


          select: function(arg) {
            console.log('clicked')
            var view = calendar.view;

            if(view.type == "timeGridDay") {
              var modal = document.getElementById('eventModal');
              modal.style.display = 'block';
              $('#ProductForm').trigger("reset");
              document.getElementById('modalClose3').disabled = true;
              const dateControl = document.querySelector('#id_start_time');
              dateControl.value = arg.startStr.substring(0, arg.startStr.length - 6);
              const dateControl2 = document.querySelector('#id_end_time');
              dateControl2.value = arg.endStr.substring(0, arg.endStr.length - 6);
            } else  {
              calendar.changeView('timeGridDay', arg.start);
            }   

            calendar.unselect()
          },
          // THIS KEY WON'T WORK IN PRODUCTION!!!
          // To make your own Google API key, follow the directions here:
          // http://fullcalendar.io/docs/google_calendar/
          googleCalendarApiKey: 'AIzaSyBkWiMG51Qq2AMMgiP-l3QMma7CusGq2Ks',

          // bangladesh Holidays
          //events: 'it.italian#holiday@group.v.calendar.google.com',
          eventClick: function(arg) {
            arg.jsEvent.preventDefault();
            editFunc(arg.event.id);
          },
          editable: true,
          dayMaxEvents: true, // allow "more" link when too many events
          //events: {{ events|safe }}
          eventSources: [ '/getevents/', 'it.italian#holiday@group.v.calendar.google.com' ],

        });

        calendar.render();
      });
      const closeBtn1 = document.getElementById('modalClose1');
      const closeBtn2 = document.getElementById('modalClose2');
      closeBtn1.addEventListener('click',()=>{
        const eventModal = document.getElementById('eventModal')
        eventModal.style.display = 'none';
      });
      closeBtn2.addEventListener('click',()=>{
        const eventModal = document.getElementById('eventModal')
        eventModal.style.display = 'none';
      });

      $('#ProductForm').submit(function(e) {
            e.preventDefault();
            var formData = new FormData(this);
            $.ajax({
                type: 'POST',
                url: "/createevent/",
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: (data) => {
                  const eventModal = document.getElementById('eventModal')
                  eventModal.style.display = 'none';
                  displayMessage("Dati inseriti");
                  calendar.refetchEvents();
                  
                },
                error: function(data) {
                    console.log(data);
                    alert("Errore nell'inserimento dati.");
                }
            });
      });

      function editFunc(id) {
            $.ajax({
                type: "POST",
                url: "/editevent/",
                data: {
                  'csrfmiddlewaretoken': '{{csrf_token}}',
                    id: id
                },
                dataType: 'json',
                success: function(res) {
                  var modal = document.getElementById('eventModal');
                  modal.style.display = 'block';
                  document.getElementById('modalClose3').disabled = false;
                  $('#id').val(res.id);
                  $('#id_title').val(res.title);
                  $('#id_description').val(res.description);
                  $('#id_start_time').val(res.start);
                  $('#id_end_time').val(res.end);
                }
            });
    }

    function deleteFunc() {
      var id = document.getElementById('id').value;
      if (id) {    
        if (confirm('Sei sicuro di cancellare questo evento?')) {
          $.ajax({
                    type: "POST",
                    url: "/deleteevent/",
                    data: {
                        'csrfmiddlewaretoken': '{{csrf_token}}',
                        id: id
                    },
                    dataType: 'json',
                    success: function(res) {
                      const eventModal = document.getElementById('eventModal')
                      eventModal.style.display = 'none';
                      displayMessage("Evento cancellato");
                      calendar.refetchEvents();
                    }
                });
        }
      } else {
        alert("Evento non cancellabile"); 
      }
    
    }

      function displayMessage(message) {
        toastr.success(message, 'Evento');
      }
  </script>
{% endblock extrascripts %}
