<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav" id="mianav">
            <div class="sb-sidenav-menu-heading">Core</div>
            <a class="nav-link" href="{% url 'dashboard' %}" data-target="dashboard" style="border-radius: 10px; margin-left: 10px; margin-right: 10px">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Dashboard
            </a>
            <a class="nav-link" href="{% url 'agenda' %}" data-target="agenda" style="border-radius: 10px; margin-left: 10px; margin-right: 10px">
                <div class="sb-nav-link-icon"><i class="fas fa-calendar"></i></div>
                Agenda
            </a>
            <a class="nav-link" href="{% url 'users' %}" data-target="users" style="border-radius: 10px; margin-left: 10px; margin-right: 10px">
                <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                Utenti
            </a>
            
        </div>
    </div>
</nav>
